<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.a.easybuy.dao.BillMapper">
    <insert id="add" parameterType="Bill">
        insert into bill(phone, price, createtime) values (#{phone},#{price},#{createtime})
    </insert>
</mapper>