<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.a.easybuy.dao.GoodMapper">
    <select id="getAll" resultType="Good" parameterType="GoodsQuery">
        select * from goods 
        <where>
            <if test="kid!=null and kid!=''">
                kid=#{kid}
            </if>
            and gstatus = 1
        </where>
        order by createDate DESC
    </select>
    <select id="getTotal" resultType="int">
        select COUNT(1) from goods
        <where>
            <if test="kid!=null and kid!=''">
                kid=#{kid}
            </if>
            and gstatus = 1
        </where>
    </select>
    <select id="getById" resultType="Good">
        select * from goods where id=#{id}
    </select>
    <insert id="add" parameterType="Good">
        insert into goods(id, gname, description, price, stock, img_path, gstatus, createdate,gstatus)
        values(#{id},#{gname},#{description},#{price},#{stock},#{img_path},#{gstatus},#{createdate},1)
    </insert>
    <update id="update" parameterType="Good">
        update goods set gname=#{name},description=#{description=},price=#{price},stock=#{stock},img_path=#{img_path},goods.gstatus=1,createdate = #{createDate}
        where id = #{id} and gstatus=1
    </update>
    <update id="delete" >
        update goods set gstatus = 0  where  id=#{id}
    </update>

</mapper>