<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.a.easybuy.dao.KindMapper">
    <select id="getKindList" resultType="Kind">
        select k1.*,k2.name as pname
        from kind k1,kind k2
        where k1.pid=k2.id and k1.status = 1
        ORDER BY level
    </select>
    <insert id="addKind">
        insert into kind(pid,name,level) values(#{pid},#{name},#{level})
    </insert>
    <update id="delKind">
        update kind set status = 0 where id=#{id}
    </update>
    <select id="getKindListByPid" resultType="kind">
        select * from kind where pid = #{id}
    </select>
    <select id="getKindById" resultType="kind">
        select * from kind where id = #{id} and status = 1
    </select>
    <select id="getGoodListBykid" resultType="Good">
        select * from goods where kid=#{id} limit 8
    </select>
    <select id="getKindByName" resultType="Kind">
        select * from kind where name=#{name}
    </select>
    <select id="getKindByPid" resultType="Kind">
        select * from kind where id=#{pid}
    </select>
    <select id="getChildKind" resultType="Kind">
        SELECT * FROM kind
        WHERE pid=#{id}
    </select>
    <update id="changeKind">
        update kind set name=#{name},pid=#{pid},level=#{level} where id=#{id}
    </update>
    <select id="getFirstKindList" resultType="Kind">
        select * from kind where level=1 and status = 1
    </select>
</mapper>