<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.a.easybuy.dao.UserMapper">
    <select id="getAll" resultType="User" parameterType="UserQuery">
        select * from user
        where role &lt; #{role}
        and status =1
    </select>
    <select id="getCount" resultType="int">
        select count(1) from user
        where role &lt; #{role}
          and status =1
    </select>
    <select id="getById" parameterType="map" resultType="User">
        select * from  user
        <where>
            <if test="id!=null and id!=''">
                and id = #{id}
            </if>
            <if test="name!=null and name!=''">
                and name=#{name}
            </if>
            <if test="email!=null">
                and email=#{email}
            </if>
            and status=1
        </where>
    </select>
    <insert id="addUser" parameterType="User">
        insert into user(name, password, email, phone, role,status) values (#{name},#{password},#{email},#{phone},#{role},1)
    </insert>
    <update id="updateUser" parameterType="User">
            update user set name=#{name},userName=#{userName},password=#{password},email=#{email},phone=#{phone},role=#{role}
                        where id=#{id} and status=1
    </update>
    <update id="forgetUser" parameterType="User">
        update user set name=#{name},userName=#{userName},password=#{password},email=#{email},phone=#{phone},role=#{role}
        where id=#{id} and status=1
    </update>
    <update id="delUser">
        update user set status=0 where id=#{id}
    </update>
</mapper>